<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <div class="comments-container">
        <div class="add-comment-container">
          <form class="comment-box">
            <label for="uComment">Add a comment!</label>
            <input type="text" id="uComment" name="uComment"><br><br>
            <button type="submit">Post</button>
          </form>
        </div>
        <div class="comments-list" id="comments-list">


          {{!-- going to add comments here! --}}


        </div>
  </div>
</div>

<script src="/js/comments.js"></script>
<script src="/js/blog.js"></script>
